//
//  AppConfig.xcconfig
//  Spotify_App
//
//  Created by Jae hyuk Yim on 2023/07/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

clientID = 062b9465d36c449bbd9a59f3fba015a6
clientSecret = 84e5e799f3554c22a821840bf5aa29cc
