//
//  AppConfig.xcconfig
//  Spotify_App
//
//  Created by Jae hyuk Yim on 2023/07/27.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// MARK: - Your ClientID & Client Secret
clientID = 71d401ad00114d388552dddb89266b90
clientSecret = 8f09cbd408a9445a950521b3dfc95710
